<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScanSaga"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrpg54Jvi_yuF5T0FXGysxrfS8jXr6_7k" />

        <activity
            android:name=".Views.CheckinResultPage"
            android:exported="false" />
        <activity
            android:name=".Model.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ScanSaga">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Homepage declaration -->
        <activity
            android:name=".Model.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Model.ShowCheckedInAttendeesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Homepage declaration -->
        <activity
            android:name=".Views.HomepageActivity"
            android:exported="true" />
        <activity
            android:name=".Views.AttendeeHomePage"
            android:exported="true" /> <!-- Add AddEvent declaration -->
        <activity
            android:name=".Views.AttendeeHomePage$AddEvent"
            android:exported="true" />
        <activity
            android:name=".Views.AddEvent"
            android:exported="true">
        </activity>

        <activity
            android:name=".Model.MyProfile"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.ShowAllEvents"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.ShowAllUsers"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.ShowAllEventsAttendees"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.SendNotificationActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".Views.ShowAllImagesFromStorage"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.MySignedUpEvents"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.OrganizerEvents"
            android:exported="true">
        </activity>

        <activity
            android:name=".Views.ShowSignedUpAttendees"
            android:exported="true">
        </activity>


        <activity
            android:name=".Views.ScanAndGo"
            android:exported="true">
        </activity>

        <service
            android:name=".Controllers.FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Views.UseExistingQr"
            android:exported="true">
        </activity>
    </application>

</manifest>